
.appbar{
    color: #d93025;
    font-size: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
    text-align: left;
}

.findpages{
    vertical-align: baseline;
    text-align: left;

}

.inputgroup{

}

