
*body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.container {
    text-align: center;
}

#searchbar input[type="text"]{
    width: 584px; 
    height: 44px; 
    display: block; 
    margin: 20px auto; 
    padding: 0px 15px; 
    border: 1px solid #dfe1e5; /* Light gray border */
    border-radius: 24px; /* Rounded corners */
    font-size: 16px; /* Font size for better readability */
}

#button input[type="submit"]{
    margin: 5px; 
    padding: 10px 5px; 
    background-color: white; 
    border: 1px solid black; /* Light gray border */
    font-size: 14px; /* Font size for better readability */
    height: 34px; 
     
}
#button input[type="submit"]:hover {
    background-color: #f1f3f4; /* Light gray hover effect */
}
#logo{
    margin-bottom: 20px; 
}
 
.links nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
}

nav ul li {
    display: flex;
    position: relative;
    list-style: none;
}

nav ul li a {
    color: black;
    padding: 5px;  
    margin: 10px;        
    text-decoration: none; 
    font-size: small; 
    text-align: center; 
} 

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover, nav a:active {
    text-decoration: underline;
}

