
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    background-color: #fff;
    color:black;
}


#searchbar {
    width: 500px; 
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    background-color: white; 
    border: 1px solid lightgray; /* Light gray border */
    border-radius: 24px; /* Rounded corners */
    font-size: 16px; /* Font size for better readability */
}

#logo{
    display:flex;
    flex-direction: row;
    justify-items: center;
}
#button {
    width: 120px;
    display: block;
    margin: 20px auto; 
    padding: 5px 5px; 
    /* background-color: white;  */
    border: 1px solid black; /* Light gray border */
    border-radius: 24px; /* Rounded corners */
    font-size: small; /* Font size for better readability */
    
}
  
.links nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
}

nav ul li {
    display: flex;
    position: relative;
    list-style: none;
}

nav ul li a {
    color: black;
    padding: 5px;  
    margin: 10px;        
    text-decoration: none; 
    font-size: small; 
    text-align: center; 
} 

/* unvisited link */
nav a:link {
    color: black;
  }
  
  /* visited link */
nav a:visited {
    color: black;
  }
  
  /* mouse over link */
nav a:hover {
    color: black;
    text-decoration: underline;
  }
  
  /* selected link */
nav a:active {
    color: back;
    text-decoration: underline;
  }